<div id="page-content" class="product-page">
   <div class="sc-AxjAm sc-fzplWN dhdzWy">
       <a class="sc-AxjAm IcSpP hero__img" href="#">
           <img src="assets/images/total-human.jpg" alt="Onnit Total Human® Packs" class="sc-fzpans kkFAbf" style="display: block; width: 100%; height: auto;" />
       </a>
       <div class="sc-AxjAm IcSpP hero__content">
           <div class="sc-AxjAm daaZQd">
               <div class="sc-AxjAm zREFx">
                   <h1 font-size="4,4,5,5,6,6,6" display="block" color="text" class="sc-AxirZ klgpik">
                       Save 30% on Total Human<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup>
                   </h1>
                   <p color="grays.4" display="block" font-size="2" class="sc-AxirZ khgeyB">These convenient day &amp; night packs provide immune, cognitive, mood, and overall vitality support.</p>
                   <a href="#" aria-label="learn more about saving 30% on Total Human®." class="sc-AxhUy kDDSBw">Learn More</a>
               </div>
           </div>
       </div>
   </div>
   <div class="sc-AxjAm sc-fzplWN dhdzWy">
       <a class="sc-AxjAm IcSpP hero__img" href="#">
           <picture>
               
               <img src="assets/images/BFCM-2021-Teaser-Wpage-Desktop.jpeg" alt="Black Friday Sale Signup" style="display: block; width: 100%; height: auto;" />
           </picture>
       </a>
       <div class="sc-AxjAm IcSpP hero__content">
           <div class="sc-AxjAm daaZQd">
               <div class="sc-AxjAm zREFx">
                   <h1 font-size="4,4,5,5,6,6,6" display="block" color="text" class="sc-AxirZ klgpik">Onnit's Black Friday Sale Coming Soon</h1>
                   <p color="grays.4" display="block" font-size="2" class="sc-AxirZ khgeyB">
                       Our biggest sale of the year is coming, featuring our lowest prices on supplements, nutrition, equipment, apparel, digital products, and accessories. Plus, FREE gifts.<br />
                       <br />
                       Mark your calendar—the chase begins November 25.
                   </p>
                   <a href="#" aria-label="Add the Black Friday Cyber Monday Sale to your Calendar." class="sc-AxhUy kDDSBw">Add To Calendar</a>
               </div>
           </div>
       </div>
   </div>
   <div display="block,block,grid" class="sc-AxjAm sc-fzoLsD MgcCu">
       <a href="#" display="block" class="sc-AxjAm cveskb">
           <img
               alt="onnit 6"
               src="assets/images/ab-30-trial.jpg"
               class="sc-fzpans kkFAbf"
               style="transition: opacity 300ms ease 0s; opacity: 1; display: block; width: 100%; height: auto;"
           />
       </a>
       <div class="sc-AxjAm cOCHJL">
           <h2 font-size="4,4,5,5,6,6,6" display="block" color="text" class="sc-AxirZ bAKRFW">
               Save 30% on Alpha BRAIN<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup>
           </h2>
       </div>
       <div class="sc-AxjAm jmPXsO">
           <p color="grays.4" display="block" font-size="2" class="sc-AxirZ cHRBVm">
               The ultimate way to get “in the zone”, Alpha BRAIN<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup> supports memory, focus, and cognitive
               processing speed.<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">†︎</sup>︎
           </p>
       </div>
       <div class="sc-AxjAm gXXwXV"><a href="#" aria-label="learn more about saving 30% on alpha brain." class="sc-AxhUy kDDSBw">Learn More</a></div>
   </div>
   <div display="block,block,grid" class="sc-AxjAm sc-fzoLsD MgcCu">
       <a href="#" display="block" class="sc-AxjAm cveskb">
           <img
               alt="Girl wake boarding."
               src="assets/images/alpha-brain-focus-shot.jpg"
               class="sc-fzpans kkFAbf"
               style="transition: opacity 300ms ease 0s; opacity: 1; display: block; width: 100%; height: auto;"
           />
       </a>
       <div class="sc-AxjAm cOCHJL">
           <h2 font-size="4,4,5,5,6,6,6" display="block" color="text" class="sc-AxirZ bAKRFW">
               Alpha BRAIN<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup> Focus Shot Now Available
           </h2>
       </div>
       <div class="sc-AxjAm jmPXsO">
           <p color="grays.4" display="block" font-size="2" class="sc-AxirZ cHRBVm">
               Alpha BRAIN<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup> Focus Shot is a liquid, ready-to-drink evolution of our world-famous nootropic—with
               new ingredients to support focus, energy, and mood. It’s the most convenient way to get into flow state.
               <sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">†︎</sup>
           </p>
       </div>
       <div class="sc-AxjAm gXXwXV"><a href="#" aria-label="Shop alpha brain focus shot." class="sc-AxhUy kDDSBw">Shop Now</a></div>
   </div>
   <div display="block,block,grid" class="sc-AxjAm sc-fzoLsD MgcCu">
       <a href="#" display="block" class="sc-AxjAm cveskb">
           <img
               alt="VIRUTech® IMMUNE Instant"
               src="assets/images/virutech-instant-banner.jpeg"
               class="sc-fzpans kkFAbf"
               style="display: block; width: 100%; height: auto;"
           />
       </a>
       <div class="sc-AxjAm cOCHJL">
           <h2 font-size="4,4,5,5,6,6,6" display="block" color="text" class="sc-AxirZ bAKRFW">
               VIRUTech<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup> Immune Instant: A delicious drink mix powder formulated to help support the body’s
               immune system.<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">†︎</sup>
           </h2>
       </div>
       <div class="sc-AxjAm jmPXsO">
           <p color="grays.4" display="block" font-size="2" class="sc-AxirZ cHRBVm">
               VIRUTech<sup display="inline" class="sc-AxirZ idveIK oui-sup" font-size="0.4em,0.4em,0.55em" color="inherit" aria-hidden="true">®</sup> IMMUNE Instant acts as a shield against the stuff that can take you out, while
               simultaneously promoting the forces that fight off invaders. Other immune-support supplements see the body’s defenses in black and white. We see them in color.
           </p>
       </div>
       <div class="sc-AxjAm gXXwXV"><a href="#" class="sc-AxhUy kDDSBw">Shop Now</a></div>
   </div>
   <div class="sc-AxjAm sc-fzozJi fBQAwM">
       <div class="sc-AxjAm IcSpP"><h2 font-weight="heavy" font-size="5" display="block" color="text" class="sc-AxirZ gBNXye">Shop</h2></div>
       <div display="block,block,grid" class="sc-AxjAm bZpxiw">
           <div class="sc-AxjAm lkcTx" style="grid-column-end: span 3;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: center;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <h3 color="white" font-size="5,5,5,7,7,7" display="block" class="sc-AxirZ dzCiPc">Supplements</h3>
               </a>
           </div>
           <div class="sc-AxjAm cAbTKD" style="grid-column-end: span 3;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: center;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <h3 color="white" font-size="5,5,5,7,7,7" display="block" class="sc-AxirZ dzCiPc">Nutrition</h3>
               </a>
           </div>
           <div class="sc-AxjAm bvychz" style="grid-column-end: span 3;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: center;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <h3 color="white" font-size="5,5,5,7,7,7" display="block" class="sc-AxirZ dzCiPc">Fitness</h3>
               </a>
           </div>
           <div class="sc-AxjAm kKLgic" style="grid-column-end: span 3;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="/sale"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: center;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <h3 color="white" font-size="5,5,5,7,7,7" display="block" class="sc-AxirZ dzCiPc">On Sale</h3>
               </a>
           </div>
       </div>
   </div>
   <div class="sc-AxjAm sc-fzplWN bLVxKU">
       <div class="sc-AxjAm gSdxET"><h2 font-weight="heavy" font-size="5" display="block" color="text" class="sc-AxirZ daJROG">What is Purrx?</h2></div>
       <div class="sc-AxjAm IcSpP hero__img">
           <img
               alt="woman doing crunches"
               src="assets/images/what-is-onnit.jpg"
               class="sc-fzpans kkFAbf"
               style="transition: opacity 300ms ease 0s; opacity: 1; display: block; width: 100%; height: auto;"
           />
       </div>
       <div class="sc-AxjAm IcSpP hero__content">
           <div class="sc-AxjAm daaZQd">
               <div width="80px" class="sc-AxjAm lbPSkZ">
                   <svg viewBox="0 0 228.6 109.5" color="white" class="sc-fznKkj hNrgvW" style="width: 100%;">
                       <path
                           id="bg"
                           d="M209.6,0.1L59.4,0c-6.9,0-11.1,5.1-12.4,7.4L3,83c-4.4,7.7-6.9,26.5,14.9,26.5l150,0.1c3,0,8.8-1.2,12.5-7.4l45.7-78.9
                   C230.4,15.8,231.4,0.1,209.6,0.1z"
                       ></path>
                       <path
                           id="squiggle"
                           d="M188.4,32.4l-26,44.9c-1,1.5-3.1,4.4-7,4.4h-4.7c-1.8,0-3.9-2-5.3-4.5l-17.8-30.8
                   c-0.2-0.4-0.7-0.4-1,0l-17.8,30.9c-1,1.5-3.1,4.4-7,4.4H97c-1.8,0-3.9-2-5.3-4.5L73.9,46.3c-0.2-0.4-0.7-0.4-1,0L55,77.3
                   c-2.3,3.7-5.7,4.4-7.5,4.4c0,0-6.3,0-6.4,0c-2.5-0.1-3.5-2.3-2.2-4.4l25.9-44.9c0.7-1.4,3.3-4.4,7.4-4.4h4.5c2.1,0,3.6,1.8,5.2,4.4
                   l17.8,30.8c0.2,0.3,0.6,0.6,1,0l17.8-30.8c0.8-1.4,3.3-4.4,7.4-4.4h4.5c2.1,0,3.6,1.8,5.2,4.4l17.8,30.8c0.2,0.3,0.6,0.6,1,0
                   l17.9-30.8c2.3-3.7,5.6-4.4,7.3-4.4c0,0,6.3,0,6.4,0C188.5,28,189.7,30.2,188.4,32.4z"
                       ></path>
                   </svg>
               </div>
               <p color="grays.4" display="block" font-size="2" class="sc-AxirZ rbiFa">
                   We're athletes, biohackers, professionals, retirees, parents, gamers, fighters, tradespeople, and forever students. We're all human, trying to get a little better at what we love every day.
               </p>
               <p color="grays.4" display="block" font-size="2" class="sc-AxirZ rbiFa">
                   The human body is our instrument that we play to achieve greatness, and optimizing it for peak performance requires the proper nutrition, fitness, and supplementation.
               </p>
               <p color="grays.4" display="block" font-size="2" class="sc-AxirZ rbiFa">Onnit provides these foundations to support your human journey.</p>
               <a href="#" class="sc-AxhUy kDDSBw">Learn More About Onnit</a>
           </div>
       </div>
   </div>
   <div class="sc-AxjAm sc-fzozJi fBQAwM">
       <div class="sc-AxjAm IcSpP"><h2 font-weight="heavy" font-size="5" display="block" color="text" class="sc-AxirZ gBNXye">Featured Content</h2></div>
       <div display="block,block,grid" class="sc-AxjAm bZpxiw">
           <div class="sc-AxjAm eDzOMg" style="grid-column-end: span 6;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: space-between;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <span font-weight="heavy" font-size="2,6,4,4,5,5,6" color="white" display="block" class="sc-AxirZ WJKTe">
                       Kettlebell Cardio For Cardio Haters<span class="sc-AxirZ halwgi sr-only" display="block" color="text" font-size="2">.</span>
                   </span>
                   <span type="button" class="sc-AxhUy bqBJuN">Read More</span>
               </a>
           </div>
           <div class="sc-AxjAm caMYfm" style="grid-column-end: span 6;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: space-between;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <span font-weight="heavy" font-size="2,6,4,4,5,5,6" color="white" display="block" class="sc-AxirZ WJKTe">
                       The Total Guide to Adaptogenic Supplements and Herbs<span class="sc-AxirZ halwgi sr-only" display="block" color="text" font-size="2">.</span>
                   </span>
                   <span type="button" class="sc-AxhUy bqBJuN">Read More</span>
               </a>
           </div>
           <div class="sc-AxjAm dzmdha" style="grid-column-end: span 4;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: space-between;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <span font-weight="heavy" font-size="2,6,4,4,5,5,6" color="white" display="block" class="sc-AxirZ WJKTe">
                       B Ready: How B Vitamins Can Optimize You<span class="sc-AxirZ halwgi sr-only" display="block" color="text" font-size="2">.</span>
                   </span>
                   <span type="button" class="sc-AxhUy bqBJuN">Read More</span>
               </a>
           </div>
           <div class="sc-AxjAm cpriWx" style="grid-column-end: span 4;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: space-between;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <span font-weight="heavy" font-size="2,6,4,4,5,5,6" color="white" display="block" class="sc-AxirZ WJKTe">Maple Almond Belgian Waffles</span><span type="button" class="sc-AxhUy bqBJuN">Read More</span>
               </a>
           </div>
           <div class="sc-AxjAm fBnMto" style="grid-column-end: span 4;">
               <div width="100%" height="100%" class="sc-AxjAm bSZOLX">&nbsp;</div>
               <a
                   href="#"
                   style="
                       display: flex;
                       flex-direction: column;
                       align-items: flex-start;
                       justify-content: space-between;
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       bottom: 0px;
                       width: 100%;
                       height: 100%;
                       padding: 24px;
                       text-decoration: none;
                       box-sizing: border-box;
                       z-index: 1;
                   "
               >
                   <span font-weight="heavy" font-size="2,6,4,4,5,5,6" color="white" display="block" class="sc-AxirZ WJKTe">
                       Forest Bathing: Bust Stress and Boost Your Health by Reconnecting With Nature<span class="sc-AxirZ halwgi sr-only" display="block" color="text" font-size="2">.</span>
                   </span>
                   <span type="button" class="sc-AxhUy bqBJuN">Read More</span>
               </a>
           </div>
       </div>
   </div>
   <div display="block,block,grid" class="sc-AxjAm sc-fzoLsD bybzFE">
       <div class="sc-AxjAm hNNtSc">
           <span font-weight="heavy" font-size="5" display="block" color="text" class="sc-AxirZ gBNXye">Sign Up to Get Onnit</span>
           <span color="grays.5" display="block" font-size="2" class="sc-AxirZ NhJlq">
               Stay connected and receive early access to special deals, announcements on new formulas, motivational content, stellar recipes, and tips on meeting your goals.
           </span>
           <div class="sc-AxjAm IcSpP">
               <form>
                   <div display="flex" class="sc-AxjAm dyNPVi">
                       <div class="sc-AxjAm jbMZpe">
                           <div class="sc-AxjAm sc-AxgMl eOOQOs"><input type="text" placeholder="Email" aria-label="Email" id="oui-form-field-id-1" class="sc-AxmLO fIVLKl" value="" /></div>
                       </div>
                       <button disabled="" type="submit" class="sc-AxhUy RmChJ">
                           <span class="sr-only" style="color: black;">Submit</span>
                           <div display="inline-flex" role="img" aria-hidden="true" class="sc-AxjAm kwhwQP" style="overflow: hidden; vertical-align: middle;">
                               <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" color="#ffffff" size="18" height="18" width="18" xmlns="http://www.w3.org/2000/svg" style="color: rgb(255, 255, 255);">
                                   <path
                                       d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
                                   ></path>
                               </svg>
                           </div>
                       </button>
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>